body {
    width: 400px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button svg {
    width: 16px;
    height: 16px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

#addDomainButton {
    background-color: #008cba;
}

#addDomainButton:hover {
    background-color: #007bb5;
}

#addDomainButton:active {
    background-color: #006494;
}
